:root {
  --heading-color: #333D4B;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces 9pt";
  src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"),
    url("../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Barlow","Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
  ;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.header {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.nav {
  margin-left: auto;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 33px;

}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.burger-nav {
  border: none;
  background-color: transparent;
  margin-left: auto;
}

  .nav-togler {
    position: absolute;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.50) 10.14%, #FEFCF7 66.08%);
    height: calc(100vh -90px);

  }

  .togler-links {
    list-style: none;
  }

  .nav-link {
    text-transform: capitalize;
  }

.hero-img {
  padding-left: 86px;
  background-image: url(../img/hero-img.png);
  width: 1280px;
  background-size: cover;
  padding-bottom: 100px;
  border-radius: 15px;

}
.header {
  padding-bottom: 43px;
}

.hero-header {
  font-family: Fraunces;
  padding: 117px 702px 0px 0px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.hero-text {
  padding-right: 750px;
  margin-bottom: 56px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero-link  {
  font-family: "Fraunces 9pt", "Times New Roman", "serif";
  padding: 15px 31px;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  line-height: 35px;
  background:  #0E8784;
  border-radius: 6px;
  /* text-align: center; */
  color: #FEFCF7;
}


/* COLLECTION  */
.collection-wrapper {
  background-image: url(../img/collection-bg-img.png);
  background-position: calc(50%)  150px;
  background-repeat: no-repeat;
  padding-top: 270px;
  padding-bottom: 190px;
}

.collection-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-left: -30px;
}

.collection-item {
  margin-left: 30px;
  width: 255px;
  text-align: center;
}

.collection__img {
  margin-bottom: 70px;
}


.collection__heading {
  word-break: break-all;
  margin-top: 0;
  margin-bottom: 24px;
}

.collection__text {
  margin: 0;
}



/* FEATURE  */
.feature {
  padding-bottom: 300px;

}

.feature-wrapper {
  background-color: #282F38;
  padding-bottom: 320px;
  padding-top: 112px;
}

.feature__heading {
  font-family: "Fraunces 9pt", "Times New Roman", "Serif";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 0;
  margin-bottom: 32px;
}

.feature__text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.8;
  width: 540px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.feature__list {
  padding-left: 0;
  list-style: none;
}

.feature__item {

  background-size: calc(50%);
  background-color: #0E8784;
  width: 350px;
  padding: 200px 48px 48px 48px;
  border-radius: 8px;
}
.feature__heading--list::before {
  content: "";
  display: block;
  background-image: url(../img/feature-coffee-bean.png);
  background-repeat: no-repeat;
  background-position: calc(50%) -10px;
  padding: 72px;
}

/* FOOTER */
.site-footer {
  display: flex;
  align-items: center;
  background-color: #2C343E;
  padding: 47px 85px;
}

.nav-footer {
  margin-left: 102px;
  margin-right: auto;
}
.footer-link {
  display: flex;
  list-style: none;
}
.footer__link-media:not(:last-child) {
  margin-right: 24px;
}
.media-link--footer {
  fill: #FEFCF7
}
.media-link--footer:hover {
  fill: #c06f61
}
.media-link--footer:active {
  fill: #c06f61b7
  }

/* ABOUT PAGE */
.about-hero {
  background-image: url(../img/about-hero-bg.png);
  background-size: center center;
  padding-top: 137px;
  padding-bottom: 137px;
  padding-left: 85px;
}



.about__headeing {
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-top: 0;
  font-weight: 900;
  margin-bottom: 24px;
}

.about__text {
    color: #FEFCF7;
    width: 445px;
}

.site-commitment {
  padding: 170px 87px 250px;
}

.commitment {
  display: flex;
  align-items: center;
}

.commitment-content {
  max-width: 540px;
  margin-left: 125px;
}

.commintment__heading {
  font-family: "Fraunces 9pt", "Arial", sans-serif;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: var(--heading-color);

}

.commitment__text {
  color: var(--heading-color);
  opacity: 0.8;
}

.quality-wrapper {
    position: relative;

  background-color: #2C343E;
  padding: 88px 85px 176px;

}

.quality-content {
  width: 540px;
}

.quality-content::before {
  position: absolute;
    content: "";
    background-image: url(../img/quality-img.png);
    background-repeat: no-repeat;
    display: block;
    width: 445px;
    height: 474px;
    right: 80px;
    top: -100px;
}

.quality__heading {
  font-family: "Fraunces 9pt", "Arial", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-top: 0;
  margin-bottom: 32px;
}

.quality__text {
  color: #FEFCF7;
  opacity: .8;;

}


/* HEADQUARTERS  */
.headquarters {
  padding: 170px 165px;
}

.headquarters-text {
  font-family: "Fraunces 9pt","Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
}

.headquarters__list {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-left: -95px;
  min-width: 285px;
}

.headquarters__item {
  margin-left: 95px;
}

.headquarters__item--uk::before {
  content: "";
  background-image: url(../img/uk-img.png);
  display: block;
  width: 41px;
  height: 49px;
  margin-bottom: 45px;
}

.headquarters__item--canada::before {
  content: "";
  background-image: url(../img/canada-img.png);
  display: block;
  width: 51px;
  height: 50px;
  margin-bottom: 45px;
}
.headquarters__item--australia::before {
  content: "";
  background-image: url(../img/australia-img.png);
  display: block;
  width: 49px;
  height: 44px;
  margin-bottom: 45px;
}

.headquarters__heading {
  font-family: "Fraunces 9pt","Arial", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: var(--heading-color);
  margin-bottom: 24px;
}

.headquarter__address {
  color: var(--heading-color);
  opacity: 0.8;
}

.headquarters__phone {
  color: var(--heading-color);
  opacity: 0.8;
  text-decoration: none;
}

/* PLAN */
.hero-plan {
  background-image: url(../img/plan-bg-hero.png);
}

.plan-heading {
  font-family: "Fraunces 9pt",
  "Times New Roman",
  serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.plan__text {
  opacity: 0.8;
}

.plan-list {
  margin-right: 125px;
  list-style: none;
  padding-left: 0;

}

.plan-list-item {
  border-bottom: 1px solid #83888F;
  width: 230px;
  padding-bottom: 24px;
  padding-top: 24px;
}


.site-form {
  padding-top: 144px;
  padding-bottom: 168px;
}

.form-wrapper {
  display: flex;
}

.order__heading {
  font-family: "Fraunces 9pt", "Times New Roman", "serif";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;

}

.form-order--heading-top {
  display: flex;
  width: 730px;
  padding-bottom: 56px;
}

.form-arrow--button {
  border: none;
  padding: 0;
  margin-left: auto;
  background-color: #fff;
}

.form-arrow--button:active {
  rotate: 180deg;
}

.order-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: -30px;
}
.site-order--wrapper {
  display: none;
  margin-bottom: 88px;
}

.site-order--open {
  display: block;
}

.order-item {
  margin-left: 30px;
}

.plan-list__link {
  text-decoration: none;
  font-family: "Fraunces 9pt", "Times New Roman", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  opacity: 0.4;


}
.plan-list__link--active {
  color: #333D4B;
  opacity: 1;
}

.plan-list__num {
  color: #83888F;
  margin-right: 24px;
}

.plan__radio {
  background-color: red;
}

.order__text--form {
  margin: 0;
}

.order-input__box{
  background-color: #F4F1EB;
  /* background-color: #ccc; */
  border-radius: 8px;
  padding: 32px 28px 84px 28px;
  width: 228px;

}

.order-input:checked ~ .order-input__box {
  /* background-color: #F4F1EB; */
  background-color: #0E8784;

}

.order__heading--list {
  margin-top: 0;
  margin-bottom: 24px;
}

.order-latter {
  margin-bottom: 40px;
}

.order-latter--wrapper {
  background-color: #333D4B;
  width: 730px;
  padding: 47px 64px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.order__summary {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;

}

.order-summary__text {
  font-family: "Fraunces 9pt", "Times New Roman", "serif";
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.summary-green {
  color: #0E8784;

}

.button-plan--form {
  display: flex;
  justify-content: flex-end;
  border: none;
  background: #E2DEDB;
  border-radius: 6px;
  padding: 15px 35px;
  color: #FEFCF7;
  font-family: "Fraunces 9pt",
  "Times New Roman",
  "serif";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
}

/* MEDIA  */
@media only screen and (max-width: 900px) {

  .collection-item {
    display: flex;
    width: 100%;
     margin-left: auto;
     margin-right: auto;
    /* margin-left: 0; */
  }

  .collection-list {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

  }

  .collection__text {
    line-height: 25px;
    font-size: 15px;
  }

  .collection__img {
    margin-bottom: 0;
  }

  .colllection-content {
    width: 282px;
    margin-left: 36px;
  }

  .collection-wrapper {
    background-size: 650px;
  }

  .hero-img {
    padding-left: 58px;
    background-image: url(../img/hero-img.png);
    width: 80%;
    background-size: cover;


  }

  .hero-text {
    padding-right: 30%;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 25px;
    color: #FEFCF7;
  }

  .hero-header {
    font-family: "Fraunces", "Times New Roman", "Serif";
    padding-right: 35%;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #FEFCF7;
  }
  .nav {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
      .collection-item {
        flex-direction: column;
        align-items: center;

      }

      .collection-item:not(:last-child) {
        margin-bottom: 48px;
      }

      .collection__img {
       margin-bottom: 24px;
       }

      .collection-wrapper {
       background-size: 330px;
        }

        .hero-text {
          padding-right: 0;
          margin-bottom: 40px;

        }

        .hero-header {
          padding-right: 0;
          margin-bottom: 32px;

        }
          .hero-img {
            /* padding-left: 58px; */
            background-image: url(../img/hero-img.png);
            width: 350px;
            background-size: cover;


          }
}

@media only screen and (min-width: 900px) {
  .burger-nav {
    display: none;
  }
}

