@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces 9pt";
  src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"),
    url("../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Barlow";
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
  ;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.nav {
  margin-left: auto;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 33px;

}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.hero-img {
  padding-left: 86px;
  background-image: url(../img/hero-img.png);
  width: 1280px;
  background-size: cover;
  padding-bottom: 100px;
  border-radius: 15px;

}
.header {
  padding-bottom: 43px;
}

.hero-header {
  font-family: Fraunces;
  padding: 117px 702px 0px 0px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.hero-text {
  padding-right: 750px;
  margin-bottom: 56px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.hero-link-item {
  width: 217px;
  height: 56px;
  padding: 15px 31px 16px 31px;
  background:  #0E8784;
  border-radius: 6px;
}
.hero-link  {
  text-decoration: none;
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #FEFCF7;
}

/* FOOTER */
.site-footer {
  display: flex;
  align-items: center;
  background-color: #2C343E;
  padding: 47px 85px;
}

.nav-footer {
  margin-left: 102px;
  margin-right: auto;
}
.footer-link {
  display: flex;
  list-style: none;
}
.footer__link-media:not(:last-child) {
  margin-right: 24px;
}
.media-link--footer {
  fill: #FEFCF7
}
.media-link--footer:hover {
  fill: #fefcf7d3
}
.media-link--footer:active {
  fill: #fefcf786
}

/* ABOUT */
.about-hero {
  background-image: url(../img/about-hero-bg.png);
  background-size: center center;
  padding-top: 137px;
  padding-bottom: 137px;
  padding-left: 85px;
}



.about__headeing {
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-top: 0;
  font-weight: 900;
  margin-bottom: 24px;
}

.about__text {
    color: #FEFCF7;
    width: 445px;
}


/* PLAN */
.hero-plan {
  background-image: url(../img/plan-bg-hero.png);
}

.plan-heading {
  font-family: "Fraunces 9pt",
  "Times New Roman",
  serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.plan__text {
  opacity: 0.8;
}

.plan-list {
  margin-right: 125px;
  list-style: none;
  padding-left: 0;

}

.plan-list-item {
  border-bottom: 1px solid #83888F;
  width: 230px;
  padding-bottom: 24px;
  padding-top: 24px;
}


.site-form {
  padding-top: 144px;
  padding-bottom: 168px;
}

.form-wrapper {
  display: flex;
}

.order__heading {
  font-family: "Fraunces 9pt", "Times New Roman", "serif";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;

}

.form-order--heading-top {
  display: flex;
  width: 730px;
  padding-bottom: 56px;
}

.form-arrow--button {
  border: none;
  padding: 0;
  margin-left: auto;
  background-color: #fff;
  ;
}

.order-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: -30px;
}
.site-order--wrapper {
  display: none;
}

.site-order--open {
  display: block;
}

.order-item {
  margin-left: 30px;
}

.plan-list__link {
  text-decoration: none;
  font-family: "Fraunces 9pt", "Times New Roman", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  opacity: 0.4;


}
.plan-list__link--active {
  color: #333D4B;
  opacity: 1;
}

.plan-list__num {
  color: #83888F;
  margin-right: 24px;
}

.plan__radio {
  background-color: red;
}

.order__text--form {
  margin: 0;
}

.order-input__box{
  background-color: #F4F1EB;
  /* background-color: #ccc; */
  border-radius: 8px;
  padding: 32px 28px 84px 28px;
  width: 228px;

}

.order-input:checked ~ .order-input__box {
  /* background-color: #F4F1EB; */
  background-color: #0E8784;

}

.order__heading--list {
  margin-top: 0;
  margin-bottom: 24px;
}